# numpy

In [1]:
import numpy as np

In [2]:
x = np.random.randint(1,7,size = (100,10))

In [3]:
x[-43,1]

5

In [ ]:
x[::5,1::2]

In [ ]:
np.arange(1,100,2).

In [ ]:
x = np.array([1, 2, 3, 4])

# row vector via reshape
x.reshape((2, 2))

In [ ]:
dices = np.random.randint(1,7,size = 10)

In [ ]:
np.mean(dices)

In [ ]:
np.var(dices)

In [ ]:
np.median(dices)

In [ ]:
np.percentile(dices,90)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.hist(dices)
plt.title('Height Distribution of US Presidents')
plt.xlabel('height (cm)')
plt.ylabel('number');

In [ ]:
x = np.linspace(0, 9, 50)

In [ ]:
y = np.linspace(0, 9, 50)[:, np.newaxis]

In [ ]:
z = np.sin(x)*np.sin(y)**2 + np.cos(y) * np.cos(x)

In [ ]:
plt.imshow(z)
plt.colorbar();

In [ ]:
import scipy.stats

In [ ]:
chi2,p = scipy.stats.chisquare(dices)

In [ ]:
chi2

In [ ]:
p

In [ ]:
for size in range(1,8):
    dices = np.random.randint(1,7,size = 10**size)
    distrib = np.unique(dices, return_counts=True)
#    chi2,p,dof,expected = scipy.stats.chi2_contingency(dices)
    chi2,p = scipy.stats.chi2(distrib)
    dof = 0
    print(f'size = {size} chi2 = {chi2} p = {p} dof= {dof}')

In [ ]:
    dices = np.random.randint(1,7,size = 60000)
    np.unique(dices, return_counts=True)

# scipy.stats

In [ ]:
import scipy.stats

In [ ]:
scipy.stats.norm?

In [ ]:
>>> from scipy.stats import norm
>>> import matplotlib.pyplot as plt
>>> fig, ax = plt.subplots(1, 1)

>>> mean, var, skew, kurt = norm.stats(moments='mvsk')
print(mean, var, skew, kurt)


>>> x = np.linspace(norm.ppf(0.01),norm.ppf(0.99), 100)
>>> ax.plot(x, norm.pdf(x),'r-', lw=5, alpha=0.6, label='norm pdf')

In [ ]:
>>> fig, ax = plt.subplots(1, 1)
x = np.linspace(-2,+2, 100)
ax.plot(x, norm.pdf(x),'r-', lw=5, alpha=0.6, label='norm pdf')
plt.show()

In [ ]:
norm.cdf(0.5)

In [ ]:
from numpy.random import default_rng
rng = default_rng()

In [ ]:
for i in rng[0,10]:
    print(i)

In [ ]:
norm.rvs(size=10, random_state=rng)

In [ ]:
norm.stats(loc=3, scale=4, moments="mv")[1]

In [ ]:
help(scipy.stats.rv_discrete)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([399284,381883], index=['Hommes','Femmes'], columns=['Naissances'])

In [ ]:
df

In [ ]:
scipy.stats.chisquare(df)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/corpus/220909-RecueilComplet.csv')

In [7]:
df['infox']

1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
      ...
430    1.0
433    1.0
434    1.0
435    0.0
436    0.0
Name: infox, Length: 434, dtype: float64

In [5]:
label_columns = ['infox','signé',
       'lieux, dates et personnes ', 'lieux, dates et personnes cohérentes',
       'points de vue différents présentés', 'écriture de qualité',
        'faits', 'opinions', 'fausse nouvelle', 'insinuations',
       #'exagération',
        'scientifique sulfureux', 'des pages et des pages',
       'des chiffres et des tableaux', 'sophisme', 'inversion de la preuve',
       'invérifiable', 'propos rapporté', 'sources citées', 'titre décalé',]

In [6]:
for col in label_columns:
    df = df[df[col].notna()]

In [8]:
pd.crosstab(df['infox'],df['signé'])

signé  0.0  1.0
infox
0.0    143   71
1.0    143   77

In [28]:
df.pivot_table(index=['infox','signé'],values='url',aggfunc=len)

             url
infox signé
0.0   0.0    143
      1.0     71
1.0   0.0    143
      1.0     77

In [14]:
len(df)

434

In [15]:
143+71

214

In [16]:
df['infox'].sum()

220.0

In [22]:
def ecart(real,proba):
    return (real - proba)**2/real**2

In [23]:
ecart(143,220)

0.28994082840236685