# Plateforme Agnostique de Traitement et d'Analyse des Textes
### Carnet d'expérimentation
---

## Sujet : Vocabulary

---

# Observations et environnement
---

In [2]:
cd ../..

/Users/fm/Desktop/Work/Patat

In [3]:
import importlib
import pandas as pd
import seaborn as sns

## Articles & Labels

In [4]:
import patat.db.label_db
label_db = patat.db.label_db.LabelDb()
label_db.df()

,url,label,value,owner,type,url_h
0,https://www.alnas.fr/actualite/communaute/lara...,infox,0.000000,recueil,obs,ef05018ec0f5d637bceb4cef7004e8ee5fe48f6f
1,https://www.alnas.fr/actualite/communaute/lara...,signe,0.000000,recueil,obs,ef05018ec0f5d637bceb4cef7004e8ee5fe48f6f
2,https://www.alnas.fr/actualite/communaute/lara...,entites_nommees,1.000000,recueil,obs,ef05018ec0f5d637bceb4cef7004e8ee5fe48f6f
3,https://www.alnas.fr/actualite/communaute/lara...,entites_coherentes,1.000000,recueil,obs,ef05018ec0f5d637bceb4cef7004e8ee5fe48f6f
4,https://www.alnas.fr/actualite/communaute/lara...,ouverture_esprit,0.000000,recueil,obs,ef05018ec0f5d637bceb4cef7004e8ee5fe48f6f
...,...,...,...,...,...,...
266122,https://www.profession-gendarme.com/zelensky-e...,infox,0.556761,220930-tf_lr.pp,pred,e346761c2a99d892b26c9388480e0ee6ad6b303b
266123,https://www.profession-gendarme.com/zelensky-l...,infox,0.164531,220930-tf_lr.pp,pred,77525354644316eadab53960efa8f5fd028c7f67
266124,https://www.profession-gendarme.com/zelensky-m...,infox,0.673791,220930-tf_lr.pp,pred,fc6a074da5c02032bc9fc3f35f1044bc4029042c
266125,https://www.profession-gendarme.com/zero-mort-...,infox,0.103192,220930-tf_lr.pp,pred,e4f0a8961d79c9a5f66c80d7aa4196cb679af2b0
266126,https://www.profession-gendarme.com/zoom-franc...,infox,0.303205,220930-tf_lr.pp,pred,36a0091795b15d56005a6b7b8963ada539f598eb

In [5]:
import patat.db.article_db
importlib.reload(patat.db.article_db)
article_db = patat.db.article_db.ArticleDb()
article_db.df()

/Users/fm/Desktop/Work/Patat/patat/db/article_db.py:35: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,url,title,article,author,tag,abstract,site,date_iso,url_h,c_count
0,https://www.francesoir.fr/societe/decision-de-...,Décision de la CPPAP de retirer son agrément à...,C’est par voie de presse le 30 novembre 2022 q...,Auteur(s)\nFranceSoir,[],NaN,www.francesoir.fr,2022-12-02T20:30:00,4e62a771d187c4c2f731f6df853125f17e4f1f3c,NaN
1,https://www.francesoir.fr/societe/onde-de-choc...,Onde de choc au sein des réseaux du fact-check...,"ENQUÊTE - Depuis plusieurs mois, FranceSoir en...",Auteur(s)\nFranceSoir,[],NaN,www.francesoir.fr,2022-11-28T06:30:00,64992bb518b0bbec3b45df023a0341b114132f83,NaN
2,https://infodujour.fr/culture/cinema/62511-cet...,Cet argent magique qui disparait,Film de Yannick Kergoat coécrit avec Denis Rob...,Patrick Tardit,[],NaN,infodujour.fr,2022-12-02T00:00:00,0cced0564a2a888ac80a3def8bccaa1444ac52ab,NaN
3,https://lalettrepatriote.com/colere-des-habita...,Colère des habitants de Saint-Varent (79) face...,Les problèmes rencontrés avec un petit groupe ...,Didier Dewitte,[],NaN,lalettrepatriote.com,NaN,563f899745ed3e801e0b6f7270dc0d720c5859f0,NaN
4,https://lecourrier-du-soir.com/31556-2/,France : les riches ont pris le pouvoir : 19 m...,Le gouvernement d’Elisabeth Borne compte 19 mi...,By Cheikh Dieng -,['InternationalEuropePolitique'],NaN,lecourrier-du-soir.com,2022-12-04T00:00:00,22b81d8ade0f14ff38823f46d209d3e3dbcd23b3,NaN
...,...,...,...,...,...,...,...,...,...,...
86810,https://www.lelibrepenseur.org/une-histoire-vi...,Une histoire vieille comme le monde !,Certains veulent des preuves ! Ils ont raison....,Par\nAdmin,NaN,NaN,www.lelibrepenseur.org,2010-05-04T00:00:00,8c7a6ecf46d47da1912884a0c0a2837c69f7ad19,7851.0
86811,https://www.lelibrepenseur.org/actus/,Actus,"Dernière vidéo !\nIl était temps, enfin ! Je v...",Par\nuser,NaN,NaN,www.lelibrepenseur.org,2007-07-07T00:00:00,d4d5a37a8ff545664bea75664c8d8695e70d0941,2173.0
86812,https://www.lelibrepenseur.org/affiche-des-dec...,Affiche des décès et malaises de sportifs de h...,Un nombre inquiétant de sportifs de haut nivea...,NaN,NaN,NaN,www.lelibrepenseur.org,NaN,a175027896cf79e76dfad6409694fafacf1919b3,2193.0
86813,https://www.lelibrepenseur.org/communaute/,Communauté,Notre Réseau Telegram et ses Groupes Secondair...,NaN,NaN,NaN,www.lelibrepenseur.org,NaN,6ba257c7b15dd68cadf7dc5d6d8c584db0f1792e,2926.0
86814,https://www.lelibrepenseur.org/utilisation-des...,Utilisation des cookies sur notre site,Que sont les cookies ?\n\n\nLes cookies sont d...,NaN,NaN,NaN,www.lelibrepenseur.org,NaN,7c725113f0c9a95c8269c8d7a271d253ae5ede99,7663.0

# Experience
---

## Textes

In [6]:
df_labels = label_db.df()

In [23]:
df_infox = df_labels[(df_labels['label']=='infox') & (df_labels['type'] == 'obs')].copy()

In [24]:
df_infox = df_infox[['url','value']]

In [25]:
df_infox = df_infox.rename(columns={'value': 'infox'})

In [28]:
df_infox = df_infox.merge(article_db.df()[['url','title','article']].copy())

In [29]:
df_infox['text'] = df_infox['title'] + '\n' + df_infox['article']

In [53]:
df_infox.to_csv('data/tmp/221219-InfoxTexts',index=False)

In [42]:
def is_afp(author):
    if type(author)==str:
        return 'afp' in author.lower()
    else:
        return False

In [43]:
df_articles = article_db.df()

In [45]:
df_francesoir = df_articles[df_articles['site']=='www.francesoir.fr']

In [48]:
df_afp = df_francesoir[df_francesoir['author'].apply(is_afp)][['url','title','article']].copy()

In [49]:
df_afp['text'] = df_afp['title'] + '\n' + df_afp['article']

In [51]:
df_afp['infox']=0.0

In [52]:
df_afp.to_csv('data/tmp/221219-AfpTexts',index=False)

### Preprocessor

In [54]:
import patat.util.text

preprocessor = patat.util.text.preprocess

### Tokenizer

In [55]:
from patat.ml.lex_analyser import LexAnalyser

lex = LexAnalyser()

tokenizer = lex.get_lemmas_from_text

### Vocabulary

In [56]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
df_texts = pd.concat([df_infox,df_afp])

In [59]:
df_texts

,url,infox,title,article,text
0,https://www.alnas.fr/actualite/communaute/lara...,0.0,L’Arabie saoudite organise des célébrations d'...,L’Arabie saoudite a organisé un événement pour...,L’Arabie saoudite organise des célébrations d'...
1,https://www.alnas.fr/actualite/en-vrac/quel-ar...,0.0,« Quel art ! » : un étudiant en droit invente ...,Une professeure de droit a partagé sur Twitter...,« Quel art ! » : un étudiant en droit invente ...
2,https://www.alnas.fr/actualite/politique/laust...,0.0,L’Australie ne reconnaît plus Jérusalem comme ...,Le gouvernement israélien a qualifié la positi...,L’Australie ne reconnaît plus Jérusalem comme ...
3,https://www.alnas.fr/actualite/communaute/nant...,0.0,Nantes : une mère musulmane meurt poignardée e...,NANTES – Une enquête pour « homicide volontair...,Nantes : une mère musulmane meurt poignardée e...
4,https://www.alnas.fr/actualite/en-vrac/la-fran...,0.0,La France condamnée pour avoir placé un enfant...,La Cour européenne des droits de l’Homme (CEDH...,La France condamnée pour avoir placé un enfant...
...,...,...,...,...,...
54971,https://www.francesoir.fr/lifestyle-gastronomi...,0.0,La deuxième vie des coquilles d'huîtres,"Les huîtres ont une deuxième vie, du moins leu...",La deuxième vie des coquilles d'huîtres\nLes h...
54975,https://www.francesoir.fr/lifestyle-gastronomi...,0.0,La truffe se fait rare,Victime du réchauffement climatique et d'une m...,La truffe se fait rare\nVictime du réchauffeme...
54987,https://www.francesoir.fr/lifestyle-gastronomi...,0.0,Rungis prépare un Noël opulent malgré les atte...,Malgré les attentats de Paris et la récente ép...,Rungis prépare un Noël opulent malgré les atte...
54997,https://www.francesoir.fr/lifestyle-gastronomi...,0.0,Gastronomie: le Franco-Suisse Benoît Violier m...,Le restaurant du chef cuisinier franco-suisse ...,Gastronomie: le Franco-Suisse Benoît Violier m...
55006,https://www.francesoir.fr/lifestyle-gastronomi...,0.0,"Paris: le ""doggy bag"" désormais proposé dans 1...","Pour éviter le gaspillage alimentaire, la Vill...","Paris: le ""doggy bag"" désormais proposé dans 1..."

In [60]:
df_texts['text']=df_texts['text'].apply(preprocessor)

In [61]:
%%time
vectorizer = CountVectorizer(lowercase=True, preprocessor=preprocessor, tokenizer=tokenizer)
count_matrix = vectorizer.fit_transform(df_texts['text'])

CPU times: user 1.37 s, sys: 14.1 ms, total: 1.38 s
Wall time: 1.38 s

In [62]:
count_array = count_matrix.toarray()
df_count = pd.DataFrame(data=count_array,columns = vectorizer.get_feature_names_out())

In [63]:
vocab_full = list(df_count.columns)

In [64]:
len(vocab_full)

54438

### Rare Words

In [65]:
df_count

,aa,aae,aag,aah,aaliyah,aalto,aanes,aaph,aapp,aaraje,...,îlotiers,ïle,ôter,öbb,önderoglu,östlund,özdemir,özgür,úlfarsson,þórólfur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df_words_0 = pd.DataFrame(df_count[df_texts['infox']==0.0].sum(),columns=['count_0']).sort_values('count_0',ascending=False)
df_words_1 = pd.DataFrame(df_count[df_texts['infox']==1.0].sum(),columns=['count_1']).sort_values('count_1',ascending=False)
df_words = pd.concat([df_words_0,df_words_1],axis=1).fillna(0)
df_words['count']=df_words['count_0']+df_words['count_1']
df_words.shape

/var/folders/n0/92k02lss71s67fxfyc0qn84m0000gn/T/ipykernel_28921/3163730241.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_words_0 = pd.DataFrame(df_count[df_texts['infox']==0.0].sum(),columns=['count_0']).sort_values('count_0',ascending=False)

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [25]:
for occ_rare in [1,2,3,4,5,6,7]:
    df_words['rare_'+str(occ_rare)]=(df_words['count_0']<=occ_rare)&(df_words['count_1']<=occ_rare)

In [26]:
df_words

,count_0,count_1,count,rare_1,rare_2,rare_3,rare_4,rare_5,rare_6,rare_7
de,114412,23980,138392,False,False,False,False,False,False,False
la,63402,12901,76303,False,False,False,False,False,False,False
le,49361,9921,59282,False,False,False,False,False,False,False
et,38704,10142,48846,False,False,False,False,False,False,False
les,38053,10363,48416,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
mayr,0,1,1,True,True,True,True,True,True,True
mazari,0,1,1,True,True,True,True,True,True,True
maçonnique,0,2,2,False,True,True,True,True,True,True
maïté,0,1,1,True,True,True,True,True,True,True
þórólfur,0,1,1,True,True,True,True,True,True,True

### Common words

In [28]:
for common_size in [50,80,120,200,500]:
    common_0 = df_words.sort_values('count_0',ascending=False).head(common_size).index
    common_1 = df_words.sort_values('count_1',ascending=False).head(common_size).index
    df_words['common_'+str(common_size)]=(df_words.index.isin(common_0))&(df_words.index.isin(common_1))

In [29]:
df_words

,count_0,count_1,count,rare_1,rare_2,rare_3,rare_4,rare_5,rare_6,rare_7,common_50,common_80,common_120,common_200,common_500
de,114412,23980,138392,False,False,False,False,False,False,False,True,True,True,True,True
la,63402,12901,76303,False,False,False,False,False,False,False,True,True,True,True,True
le,49361,9921,59282,False,False,False,False,False,False,False,True,True,True,True,True
et,38704,10142,48846,False,False,False,False,False,False,False,True,True,True,True,True
les,38053,10363,48416,False,False,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mayr,0,1,1,True,True,True,True,True,True,True,False,False,False,False,False
mazari,0,1,1,True,True,True,True,True,True,True,False,False,False,False,False
maçonnique,0,2,2,False,True,True,True,True,True,True,False,False,False,False,False
maïté,0,1,1,True,True,True,True,True,True,True,False,False,False,False,False
þórólfur,0,1,1,True,True,True,True,True,True,True,False,False,False,False,False

### Vocab & Ignore words

In [31]:
ignore_words_small = list(df_words[df_words['rare_1']].index) + list(df_words[df_words['common_80']].index)

In [71]:
ignore_words_medium = list(df_words[df_words['rare_2']].index) + list(df_words[df_words['common_80']].index)

In [32]:
ignore_words_large = list(df_words[df_words['rare_5']].index) + list(df_words[df_words['common_200']].index)

# Sauvegarde des résultats
---

In [33]:
df_words.to_csv('data/prod/221125-InfoxWords.csv')

# Conclusions
---

- Vocabulaire infox OK

# Bricolages
---